html {
    margin: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: #000c06;
}
.maintext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "bickham-script-pro-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 0.7;
}

.header {
    font-size: 8vw; 
    color: #a0d5b5;
    animation: header 5s;
}

@keyframes header {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.subtitles {
    font-size: 4vw; 
    color: #D74B9A;
    opacity: 0; 
    animation: subtitles 2s ease-in-out forwards 2s; 
}

.subtitles:hover{
    color: whitesmoke;
}

@keyframes subtitles {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.subtitles a {
    text-decoration: none; /* Remove underline */
    color: #FF69B4; /* Default color (adjust as needed) */
    transition: color 0.3s; /* Add transition effect for smooth color change */
}

.subtitles a:hover {
    color: whitesmoke; /* Change color to whitesmoke on hover */
}

